<html>
    <head>
        <title>{{ property('title') }}</title>
        <style>
            {{ assetContent('main.css') }}
        </style>
       
<script type="module" src="https://cdn.jsdelivr.net/npm/apie-stacktrace@{{ apieConstant('APIE_STACKTRACE') }}/dist/apie-stacktrace/apie-stacktrace.esm.js" crossorigin></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/apie-ugly-layout@0.0.1/dist/apie-ugly-layout/apie-ugly-layout.esm.js" crossorigin></script>
<script>{{ assetContent('main.js') }}</script>
    </head>
    <body>
      {{ component('top') }}
      {{ component('menu') }}
      {{ component('content') }}
    </body>
</html>